[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "modules/rvm"]
	path = modules/rvm
	url = https://github.com/jennifersmith/puppet-rvm.git
[submodule "modules/homebrew"]
	path = modules/homebrew
	url = git@github.com:jennifersmith/puppet-homebrew.git 
